.projectbody {
    font-family: sans-serif;
    background-color: aliceblue;
}

.About {
    position: relative;
    left: 10px;

    text-decoration: none;
    color: black;
}

.Projects {
    position: relative;
    left: 750px;
    background-color: lightcyan;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}

.Tutorials {
    position: relative;
    left: 1530px;
    text-decoration: none;
    color: black;
}

.image_text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 100px;
}