body {
    margin: 0;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    background: rgb(56, 51, 51);
}

.top-menu {
    overflow: hidden;
    background: rgb(190, 183, 183);
    z-index: 9;
}

.top-menu a {
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    
}


.top-menu a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}


